@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');


* {
    padding: 0;
    margin: 0;
    transition: all .1s ease;
}

body {
    
    font-family: sans-serif;
  
}

/*Backgrounds*/

/*Main*/
#main {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin: 0;
    padding: 0;
    background: url(Background.jpg);   
    background-position: top center;
    overflow-x: hidden;
}


 /* Services section */



 #services {
    height: 100vh;
   width: 100vw;
    margin: 0;
    padding: 0;
    background: url(NoteBook.jpg);   
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
    background-attachment:scroll;
   
 }

/* Why Us? Section*/

#why-us {
    height: 100vh;
   width: 100vw;
    margin: 0;
    padding: 0;
    background: url(Cafe\ Background.jpg);   
    background-size: cover;
    background-position: bottom center;
    overflow-x: hidden;
    background-attachment:scroll;
   
 }

/*Background*/


/* Header*/
#navi-bar {
display: flex;
position: fixed;
right: 0;
left: 0;
top: 0;
justify-content: space-between;
align-items: center;
z-index: 9999;

}


nav a {
    text-decoration: none;
    font-weight: 600;
  }

  nav a:visited {
 color: white;
 font-weight: 600;
  }



#first-list {
    display: flex;
    justify-content: right;
    list-style-type: none;
    width: 100%;
    font-weight: 600; 
    margin: 15px;
    gap: 9%;
    margin-right: 60px;
    color: white;
    
}

.headerL {
    cursor: pointer;
    font-size: 35px;
    -webkit-text-stroke: 1px black;
    
}

.headerL2 {
    color: black;
}



/*hover*/

.headerL:hover {
    color: black;
      
 }

 .headerL2:hover {
    color: white;
    
    
 }

 .social:hover {
    background: black;
    border-radius: 70%;
 }

 #thirdH2:hover {
    color:black;
    font-weight: 600;
    text-decoration: underline;
    
 }

 .social2:hover {
    background: rgb(56, 49, 49);
    
 }

 input[class="formSubmit"]:hover {
    background: white;
    color: black;
    font-weight: bold;
 }

 #findMe:hover {
    background: white;
    color: black;
    font-weight: bold;
 }

 #login:hover {
    background: white;
    color: black;
    font-weight: bold;
 }
   
/*hover*/


/* Images */

#logo {
    width: 25%;
    margin-top: -100px;
    margin-bottom: -100px;

}

#firstH1 {
    text-align: center;
    width: 60%;
    color: white;
    font-size: 55px;
}

#firstH2 {
    text-align: center;
    width: 60%;
    color: white;
    font-size: 30px;
    text-decoration: underline;
    text-underline-position: under;
}

#secondH2 {
    text-align: end;
    width: 20%;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    font-size: 35px;
    padding-right: 30px ;
    margin-bottom: 5px;
}

#track {
    display: flex;
    flex-direction: row;
    align-items: end;
    
    }

    input[type="text"] {
        width: 500px;
        height: 40px;
        text-align: center;
        font-size: 25px;
        font-family: sans-serif;
        border: black solid 5px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    #trackButton {
        margin-left: 20px;
        border-radius: 30px;
        width: 60px;
        height: 48px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
    }

 #rightArrow {
    width: 70%;
 }

 #trackButton:hover {
    border: black solid 5px;
 }

 #getAnEstimate  {
    width: 316px;
    height: 47px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#getAndEstimateBotton {
  margin-left: 410px;
  margin-top: 20px;
}
#calculator {
    width: 12%;
    
}

/*Bottons*/

#printAndSend{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    width: 390px;
    height: 97px;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}



#aForm {
   text-decoration: none;
}

#firstBottoms {
    display: contents;
}


#add {
    width: 12%;
}
 #submitBottons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    
 }

 #getAnEstimate:hover, #printAndSend:hover {
    border: black solid 5px;
 }

#login {
    cursor: pointer;
    background-color:black;
    width: 200px;
    height: 60px;
    font-size: 35px;
    font-weight: bold;
 border-radius: 40px;
    justify-content: space-evenly;
    align-items: center; 
    color: white;
    margin-left: 330px;
    margin-top: 10px;
}


#findMe {
    border: 2px white solid;
    background: black;
    color: white;
    width: 250px;
    height: 60px;
    font-size: 25px;
    border-radius: 40px;
    cursor: pointer;
    margin: 90px 0px 0px 90px;
    
}

input[class="formSubmit"] {
    border: 2px white solid;
    background: black;
    color: white;
    width: 250px;
    height: 60px;
    font-size: 25px;
    border-radius: 40px;
    cursor: pointer;
    align-self: center;
        
}

/*Bottons*/

 /*Services*/

 #services-list {
    padding: 0;
    margin: 0;
    font-size: 22px;
 }

 #serviceTitle {
    font-size: 60px;
 }
 

 .listOfContent1 {
    list-style-type: none;
 }

 #transform {
    transform: rotate(350deg);
    margin-left: 600px;
    
 }
 /*Services*/
 /*Why us?*/

 #whyUsText {
    font-size: 60px;
    color: white;
    position:absolute ;
    top: 2000px;
    margin-left: 50px;
    
 }

 .paragraph {
    color: white;
    font-size: 25px;
    text-align: center;
    

 }

 #text1 {
    width: 30%;
    margin-left: 65%;
    padding-top: 10%;
 }

 #text2 {
    width: 20%;
    margin-left: 7%;
 }

 #text3 {
    width: 20%;
    margin-left: 71%;
    padding-top: 2%;
 }

#secondtH2 {
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 2px black;
    text-align: center;
}
#thirdH2 {
    margin-right: 7%;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 2px black;
    align-self: center;
    
    
    
    
}
h3 {
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    font-family: 'Kite One', sans-serif;
}


footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  margin-left: 50px;
  margin-right: 80px;
}

.social {
    margin: 8px;
    filter: brightness(0);
    
}


/* Login Section  */


#number {
  align-self: center;  
  width: 17%;
  text-decoration: solid;
  
}

/*  parts  */



#firstPart {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 850px;
    margin-left: 100px;
    margin-top: 50px;
}

#secondPart {
    border: 1px solid black;
    width: 423px;
    height: 600px;
    background: black;
    color: white;
    position: absolute;
    top: 211px;
    left: 1200px;
}


/* parts  */


/*login access */

#password, #emailLogin {
    border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  width: 700px;
  font-size: 35px;
  padding-left: 50px;
  margin-top: 20px;

}

/* bottons */








#SenDoRights {
    color: black;
    position: absolute;
    bottom: 0;
    left: 40%;
}



/* Form Section */

#formSection {
    border: black 1px solid;
    color: white;
    background: black;
    width: 579px;
    height: 600px;
    margin: auto;
    padding: 50px;
    margin-top: -170px;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
   
}

 .formSpace {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    
    
}




/* Responsive */

/* Desktop 1024 x 768 */

@media only screen and (min-width: 1024px) and (max-width: 1900px) {

    /*Bottons and inputs*/  
    #printAndSend {
     font-size: 30px;
     width: 300px;
     height: 70px;
    }

    #getAndEstimateBotton {
     margin-left: 210px;
    }

    #getAnEstimate{
    width: 200px;
    height: 47px;
    font-size: 20px;
    }

    input[type="text"] {
        font-size: 20px;
        width: 400px;
        height: 35px;
    }

    #trackButton {
        width: 50px;
    height: 38px;
    }

    #submitBottons {
        margin-top: 90px;
    }

    /*Bottons and inputs*/  

/*Nav*/

.headerL {
    
    font-size: 23px;

}

#first-list {
    gap: 5%;
}

/*Nav*/

/*Logo*/

#logo {
    margin-top: -50px;
    margin-left: 10px;
    margin-bottom: -40px;
}

/*Logo*/

/*text*/

#firstH1 {
    font-size: 30px;
    margin-top: 10px;
}

#secondH2 {
    font-size: 25px;
    
}

#track {
    margin-left: 30px;
}

#secondtH2{
    font-size: 30px;
}

#thirdH2{
    font-size: 25px;
    
}

#number{
    width: 250px;
    
}

#serviceTitle {
    font-size: 40px;
}

#services-list {
    font-size: 18px;
}

.paragraph {
    font-size: 15px;
}

#whyUsText{
    top: 1650px;
   
}

#text1 {
    padding-top: 14%;
    padding-bottom: 148px;
    width: 39%;
    margin-left: 52%;
    
}
/*text*/


/*Footer*/
.social {
    width: 50px;
}

/*Footer*/

/*services*/

#transform{
    margin-left: 350px;
}

}